%h1 Listing review_times

%table
  %thead
    %tr
      %th Time data
      %th
      %th
      %th

  %tbody
    - @review_times.each do |review_time|
      %tr
        %td= review_time.time_data
        %td= link_to 'Show', review_time
        %td= link_to 'Edit', edit_review_time_path(review_time)
        %td= link_to 'Destroy', review_time, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Review time', new_review_time_path
